
.container-block{
  display: flex;
  flex-direction: column;
}
select{
  border-width: 2px;
  border-radius: 5px;
  text-align: left;
  padding: 5px 10px 2px 0px;
  margin: 5px;

  &:focus{
    outline: none;
    border: double 2px rgba(5, 149, 5, 0.8);
  }
}

.default-label{
  margin: 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
  font-weight: bold;
}


