<div class="service-form-container">

  <form #serviceFrom="ngForm" (ngSubmit)="onSubmit()">
    <input type="text" name="libelle" [(ngModel)]="initialForm.libelle" placeholder="Entrez un libellé" required #libelle="ngModel"/>
    <textarea name="descrition_service" [(ngModel)]="initialForm.description" placeholder="Entrez une description" #description="ngModel"></textarea>

    <div class="boutons">
      <button type="reset">Annuler</button>
      <button type="submit">Ajouter</button>
    </div>
  </form>

</div>

