
<div class="sibe-bar-contenair">
  <header class="header">
    <span class="name">MYBIZCOPILOT</span>
  </header>

  <nav class="pages-links">

    <a routerLink="/dashboard" routerLinkActive="active-link" class="link">Dashboard</a>


    <a routerLink="/client" routerLinkActive="active-link" class="link">VOTRE CLIENTELE</a>


    <a routerLink="/services" routerLinkActive="active-link" class="link">VOS SERVICES</a>


    <a routerLink="/commandes" routerLinkActive="active-link"  class="link">LES COMMANDES</a>

    <!-- <a routerLink="/enterprises" routerLinkActive="active-link" class="link">VOS ENTREPRISES</a> -->

    <a routerLink="/sous-services" routerLinkActive="active-link" class="link">SOUS-SERVICES</a>

    <a routerLink="/collaborateurs" routerLinkActive="active-link" class="link">VOS COLLABORATEURS</a>

    <div class="user-profile">
      <a routerLink="/profil" routerLinkActive="active-link" class="profil-link" title="Voir le profile"><i class="fas fa-user"></i></a>
      <div class="profil-title">
        {{userName}}
      </div>
  </div>

  </nav>
</div>
