
<div class="input-block">
  @if (label()) {
    <label [for]="name()" [style.font-size.rem]="labelSize()">{{label()}} @if (required()) {
      <span>*</span>
    }
    </label>
  }

  <input

    [type]="type()"
    [name]="name()"
    (input)="onInput($event)"
    [value]="valeur"
    [placeholder]="placeholder()"
    [disabled]="disabled()"
    (change)="registerOnChange($event)"
    [required] ="required()"
    [disabled]="disabled()"
    [style.width.px]="inputWidth()"
    [style.height.px]="inputHeight()"
    [style.border-radius.px]="borderRadius()"
  >
  @if (errorMessage()) {
    <p class="error-message" [style.font-size.rem]="errorSize()">{{errorMessage()}}</p>
  }
</div>


