.entreprise-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 70px;
  margin-right: 70px;
  input {
    width: 300px;
    padding: 0.7em;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .tel-whatsapp {
    display: flex;
    span {
      display: inline-block;
      width: 20px;
      margin-left: 5px;
      padding: 10px 0px 0px 5px;
    }
    input[type="checkbox"] {
      width: 20px;
    }
    .telw {
      width: 200px;
    }
    .tel {
      width: 270px;
    }
    label{
      margin-top: 10px;
      font-size: 0.6rem;
      input {
        margin: 0px;
      }
    }
  }

  label {
    margin: 5px;
  }

  button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 0.7em 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background-color: #0056b3;
    }
  }
  select {
    display: block;
    height: 37px;
    border-radius: 5px;
    padding: 0.7em;
    width: 320px;
    margin: 5px;
  }
  textarea {
    min-height: 100px;
    min-width: 310px;
    margin-left: 7px;
  }

  .boutons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
  }

}
::ng-deep app-custom-modal .modal {
  width: 400px;
}
