<div class="entreprise-form-container">
  <form #entrepriseForm="ngForm" (ngSubmit)="onSubmit()">
    <input type="email" name="email" [(ngModel)]="initialForm.email" placeholder="Email de l'entreprise" required #email="ngModel"/>
    <input type="text" name="nom" [(ngModel)]="initialForm.nom" placeholder="Nom de l'entreprise" required #nom="ngModel">
    <select name="pays" title="Sélectionner une pays" [(ngModel)]="initialForm.idPays" #pays="ngModel">
      <option value="">Sélectionner un pays...</option>
      @for (pays of listPays; track pays.idPays) {
        <option value="{{pays.idPays}}" (click)="onSelectPays(pays)" (onkeydown)="onSelectPays(pays)">{{pays.libellePays}}</option>
      }
    </select>
    <div class="tel-whatsapp">
      <span>{{codeTel}}</span>
      <input type="tel" name="tel1" class="tel" [(ngModel)]="initialForm.telephone1" placeholder="Numéro de téléphone" required #telephone1="ngModel" />
    </div>
    <div class="tel-whatsapp">
      <span>{{codeTel}}</span>
      <input type="tel" name="tel2" class="tel" [(ngModel)]="initialForm.telephone2" placeholder="Autre numéro de téléphone" #telephone2="ngModel" />
    </div>
    <input type="text" name="ville" [(ngModel)]="initialForm.ville" placeholder="Entrez une ville" #ville="ngModel"/>
    <label>
      <span>Chargez votre logo</span>
      <input type="file" name="logo" disabled required/>
    </label>
    <textarea name="descrition-ets" [(ngModel)]="initialForm.description" placeholder="Entrez une description"></textarea>
    <div class="boutons">
      <button type="reset">Annuler</button>
      <button type="submit">Ajouter</button>
    </div>

  </form>
</div>
