.common-header {
  background-color: #007bff;
  padding: 10px 30px 10px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: end;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  z-index: 1;
  margin-bottom: 20px;

  nav {
    font-size: 2rem;
    display: flex;
    button {
      padding: 0.55rem;
      margin-left: 30px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      background-color:  #ff6f61;
      color: white;
    }
  }
  .nom-ets {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
  }
}
