<div class="commande-container">
  <app-side-bar></app-side-bar>
  <div class="main-commande-content">
    <app-common-header></app-common-header>

    <main class="flex-1 p-8">
      <div class="flex justify-between items-center mb-4">
        <h2 class="text-2xl font-semibold">Liste des commandes</h2>
        <button class="ajouter" (click)="openCommandemodal()"> +Ajouter</button>
      </div>
      <table class="min-w-full bg-white rounded shadow">
        <thead class="bg-blue-600 text-white">
          <tr>
            <th class="py-2 px-4">#</th>
            <th class="py-2 px-4">client</th>
            <th class="py-2 px-4">Date de la commande</th>
            <th class="py-2 px-4">Délai</th>
            <th class="py-2 px-4">Coût total</th>
            <th class="py-2 px-4">Avance payée</th>
            <th class="py-2 px-4">Facture réglée</th>
            <th>Collaborateur assigné</th>
            <th class="py-2 px-4">Statut</th>
            <th class="py-2 px-4">Actions</th>
          </tr>
        </thead>
        <tbody>
          @if (listCommandes) {
            @for (commande of listCommandes; track commande.idCommande) {
              <tr class="border-b">
                <td class="py-2 px-4">{{listCommandes.indexOf(commande) + 1}}</td>
                <td class="py-2 px-4">{{commande.client}}</td>
                <td class="py-2 px-4">{{commande.dateCommande}}</td>
                <td class="py-2 px-4">{{commande.dateFin}}</td>
                <td class="py-2 px-4">{{commande.cout}}</td>
                <td class="py-2 px-4">{{commande.avance}}</td>
                <td class="py-2 px-4" >@if (commande.paye) {<span>Oui, le {{commande.datePaiement}}</span>}@else {<span>Non</span>}</td>
                <td>@if (commande.collaborateur) { {{commande.collaborateur}} }@else {...}</td>
                <td class="py-2 px-4">{{commande.statutCommande}}</td>
                <td class="action-btn">
                  <button class="text-blue-600 hover:underline" (click)="openEditModal(commande)"><i class="fas fa-edit" title="Modifier"></i></button>
                  <button (click)="openAffectModal(commande.idCommande)"><i class="fas fa-hand-holding-hand" title="Assigner"></i></button>
                  <button (click)="terminateCommande(commande.idCommande)"><i class="fas fa-circle-check" title="Commande terminée"></i></button>
                </td>
              </tr>
            }
          }@else {
            <div class="empty-table">
              Vous n'avez aucune commande enregistrée
            </div>
          }
        </tbody>
      </table>
    </main>
  </div>
</div>
@if (affectCollabModalOpened) {
  <app-custom-modal [isCentered]="true" [isVisible]="affectCollabModalOpened" [modalTitle]="'Confirmation d\'assignation'" (close)="closeCommandemodal()"><app-commande-affectation-form [idCommande]="idCommandToAssign"></app-commande-affectation-form></app-custom-modal>
}

@if (commandeFormOpened) {
  <app-custom-modal [isCentered]="true" [isVisible]="commandeFormOpened" [modalTitle]="edit ?  'Modifier la commande' : 'Ajouter une nouvelle commande'" (close)="closeCommandemodal()"><app-commandes-form [isEdit]="edit" [selectedCommande]="commandeToEdit"></app-commandes-form></app-custom-modal>
}
