<div class="commande-form-container">
  <form #commandeForm="ngForm" (ngSubmit)="onSubmit()">
    <div  class="commande-form">
      <div class="command-part">
        <div class="part">
          <select name="client_id" [(ngModel)]="initialForm.idClient" title="Sélectionnez un client" #idClient="ngModel">
            <option value="">Choisissez le client...</option>
            @for (client of listeClients; track client.idClient) {
              <option value="{{client.idClient}}">{{client.nomClient}}</option>
            }
          </select>

          <label for="">
            Date de la commande
            <input type="date" name="commande-date" [(ngModel)]="initialForm.dateContact" placeholder="Entrez la date de la commande" required #dateContact="ngModel"/>
          </label>
          <label for="">
            Commande totalement payée?
            <input type="checkbox" name="paye" [(ngModel)]="initialForm.paye" required #paye="ngModel" (change)="togglepaye($event)"/>
          </label>
        </div>
        <div class="part">
          @if (initialForm.paye == 0 || initialForm.paye == undefined) {
            <input type="number" name="avance" [(ngModel)]="initialForm.avance" placeholder="Montant de l'avance" required #emailUn="ngModel"/>
            <label for="">
              Date de l'avance payée
              <input type="date" name="date-avance" [(ngModel)]="initialForm.dateAvance" placeholder="Date de paiment de l'avance" #emailDeux="ngModel"/>
            </label>
          }@else {
            <label for="">
              Date de paiement total de la facture
              <input type="date" name="paiement-date" [(ngModel)]="initialForm.datePaiement" placeholder="Quantité d'article" #qte="ngModel"/>
            </label>
          }
          <label for="">
            Date probable de livraison
            <input type="date" name="date-fin" [(ngModel)]="initialForm.dateFin" placeholder="Date probable de livraison" required #paye="ngModel" />
          </label>
        </div>

      </div>

        <fieldset formGroupName="servicesCommandes" class="element-part">
          <legend>Services commandés</legend>
          <label id="montant_total">
            Montant total
            <input type="text" name="total" readonly class="montant-total" [(ngModel)]="montantTotal">
          </label>
          <select name="sousservice" title="Sélectionnez un sous-service" [(ngModel)]="element.idSousservice">
            <option value="">Sous-service...</option>
            @for (sousservice of listeSousservice; track sousservice.idSousService){
              <option value="{{sousservice.idSousService}}">{{sousservice.libelle}}</option>
            }
          </select>
          <input type="number" name="quantite" [(ngModel)]="element.quantite" placeholder="Quantité">
          <input type="number" name="prix" [(ngModel)]="element.prix" placeholder="Prix unitaire" (input)="montantTotalElement()">
          <button type="button" (click)="addElementToCommande()">+</button>

          @for (item of initialForm.items; track item.idSousservice) {
            <div class="afficher-sousservice">
              <input type="text" name="sousservice" readonly value="{{findSousServiceLibelle(item.idSousservice)}}" class="sous-name">
              <input type="text" name="quantite" readonly value="{{item.quantite}}">
              <input type="text" name="prix" readonly value="{{item.prix}}">
              <button type="button" (click)="removeElementToCommande(element)">-</button>
            </div>
          }

        </fieldset>

    </div>
    <div class="boutons">
      <button type="reset">Annuler</button>
      <button type="submit">Ajouter</button>
    </div>

  </form>
</div>
