.commande-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 70px;
  margin-right: 70px;

  .commande-form {

    .command-part{
      display: flex;
      justify-content: center;
    }

    .element-part {
      input {
        width: 80px;
      }
      select {
        width: 100px;
      }
      button {

        height: 30px;
        width: 30px;
      }
      .sous-name {
        width: 100px;
      }

    }
  }

  input {
    width: 200px;
    padding: 0.7em;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;

  }
  input[type="date"]:not(:focus):not(:valid)::before{
    content: attr(placeholder);
    color: #999;
    margin-right: 0.5rem;
  }

  label {
    display: block;
    input{
      display: block;
    }
  }

  button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 0.7em 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background-color: #0056b3;
    }
  }

  select {
    height: 30px;
    border-radius: 5px;
    width: 220px;
    margin: 5px;
  }

  .boutons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
  }

  #montant_total {
    input{
      display: inline;
    }
    display: block;
    align-items: end;
    margin-left: 50%;
  }

}

::ng-deep app-custom-modal .modal {
  width: 700px;
}
