
.toast {
  text-align: center;
  background: transparent;
  padding: 20px;
  position: fixed;
  top: 20px;
  right: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px  ;
  font-weight: bold;
  color: white;
  z-index: 9999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  animation: fadeInOut 5s ease forwards;
}

.success {
  background-color: #28a745;
  text-align: center;
}

.error {
  text-align: center;
  background-color: #dc3545;
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(-20px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-20px); }
}

