<button
  class="custom-default"
  [id]="id()"
  [type]="type()"
  [style.width.px]="width()"
  [style.background-color]="color()"
  [style.height.px]="height()"
  [style.font-size.rem]="textSize()"
  [style.margin-left.px]="left()"
  [style.margin-rigth.px]="rigth()"
  [style.margin-bottom.px]="bottom()"
  [style.margin-top.px]="top()"
  [style.border-radius.%]="borderRadius()"
  (click)="onClick.emit()"
  (mouseover)="onHover.emit()"
>
  @if (text()){
    {{text()}}
  }@else{
    <ng-content ></ng-content>
  }
</button>
