<div class="client-form-container">
  <form #clientForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-bloc">
      <div class="bloc-form">
        <input type="text" name="nom" [(ngModel)]="initialForm.nom" placeholder="Nom du client" required #nom="ngModel"/>
        <input type="email" name="email1" [(ngModel)]="initialForm.emailUn" placeholder="Email du client" #emailUn="ngModel"/>
        <input type="email" name="email2" [(ngModel)]="initialForm.emailDeux" placeholder="Autre email" #emailDeux="ngModel"/>

        <label class="statut-client">
          Cochez s'il s'agit d'un client et pas d'un propect
          <input type="checkbox" name="isClient" [(ngModel)]="initialForm.isClient" required #isClient="ngModel" (change)="toggleTypeprospect($event)"/>
        </label>

        <div class="choix-type">
          <label>
            Personne physique
            <input type="radio" name="type_client" id="type_personne" value="PERSONNE PHYSIQUE" [(ngModel)]="initialForm.typeClient">
          </label>
          <label>
            Personne morale
            <input type="radio" name="type_client" id="type_moral" value="PERSONNE MORALE" [(ngModel)]="initialForm.typeClient">
          </label>

        </div>

        @if (!initialForm.isClient) {
          <select name="type_prospect" [(ngModel)]="initialForm.idTypeprospect" title="Sélectionnez le type de prospect" #idTypeprospect="ngModel">
            <option value="0">Choix du type de prospect...</option>
            @for (typeprospect of listeTypeProspect; track typeprospect.idTypeprospect) {
              <option value="{{typeprospect.idTypeprospect}}">{{typeprospect.libelleTypeprospect}}</option>
            }
          </select>
        }


      </div>

      <div class="bloc-form">
        <select name="pays" id="" title="Choisir un pays" [(ngModel)]="initialForm.paysId" (change)="onSelectPays()">
          <option value="0">Choisir un pays...</option>
          @for (pays of listePays; track pays.idPays) {
            <option value="{{pays.idPays}}"> {{pays.libellePays}} </option>
          }
        </select>

        <div class="tel-whatsapp">
          <span>{{codeTel}}</span>
          <input type="tel" name="tel2" [(ngModel)]="initialForm.telephoneDeux" class="tel" placeholder=" Autre numéro de téléphone" #telephoneDeux="ngModel"/>
        </div>
        <div class="tel-whatsapp">
          <span>{{codeTel}}</span>
          <input type="tel" name="tel1" [(ngModel)]="initialForm.telephoneUn" class="telw" [disabled]="!displayTelWhatsapp" placeholder=" Numéro de téléphone whatsapp" telephoneUn="ngModel"/>
          <label >
            Whatsapp?
            <input type="checkbox" name="whatsapp" [(ngModel)]="displayTelWhatsapp">
          </label>
        </div>


        @if (initialForm.typeClient === "PERSONNE MORALE") {
          <input type="text" name="agent_liaison" [(ngModel)]="initialForm.agentLiaison" placeholder="Nom de l'agent de liaison">
        }
        <input type="text" name="ville" [(ngModel)]="initialForm.ville" placeholder="Ville du client">
        <input type="text" name="adresse" [(ngModel)]="initialForm.adresse" placeholder="Quartier, adresse">

        @if (initialForm.typeClient === "PERSONNE PHYSIQUE") {
          <select name="tranche" [(ngModel)]="initialForm.idTranche" title="Sélectionnez une tranche d'age" #idTranche="ngModel">
            <option value="0">Tranche d'âge...</option>
            @for (tranche of listeTranche; track tranche.idTranche) {
              <option value="{{tranche.idTranche}}">{{tranche.libelleTranche}}</option>
            }
          </select>
        }

      </div>

    </div>

    <div class="boutons">
      <button type="reset" (click)="onReset()">Annuler</button>
      <button type="submit">Ajouter</button>
    </div>

  </form>
</div>
